[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
adafruit-circuitpython-servokit = "*"
adafruit-circuitpython-ads1x15 = "*"

[requires]
python_version = "3.6"
